<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>バイサポ</title>

    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    

    <div class="eyecatch">
      <div class="eye-wrap">
        <div class="eye-box">
          <p class="eye-text">フリマで売れない、、、そんな時は！？<br /></p>
          <h1 class="catchcopy">誰でも売れる</h1>
          <h1 class="catchcopy">フリマサポート</h1>
          <p class="eye-text">あなたの販売を自動でサポート!!</p>
           <%= link_to("無料で体験","/signup",{class:"btn"}) %>
        </div>
        <div class="eye-img">
          <img src="/img_phone.png" alt="スマホ" />
        </div>
      </div>
    </div>

    <section id="concept">
      <h2 class="title">CONCEPT</h2>
      <h3 class="txtl">
        バイサポは、フリマアプリで簡単に商品を<br />売ることができるサービスです。
      </h3>
      <p class="concept-txt">
        副業で糶取りを始めてみたがうまくいかない・・・<br />そんな悩みをバイサポは解決します。
      </p>
    </section>

    <section id="function">
      <h2 class="title">FUNCTION</h2>
      <h3 class="txtl">商品を売る3つの機能</h3>
      <div class="wrap">
        <div class="function-item">
          <img
            src="/スクリーンショット 2020-09-25 10.31.18.png"
            alt="検索"
          />
          <div class="item-box">
            <p class="txtm">人気ワード検索</p>

            <p class="txts">
              自分が出品したい商品のカテゴリを入力すると、カテゴリ内の<span
                class="bold"
                >売れている商品のワード、カテゴリを分析</span
              >して教えます
              そのワードを入れることで、検索上位にヒットし,必然的にお客様の目に映る回数が増え、それが<span
                class="bold"
                >売却へ</span
              >とつながって行きます。
            </p>
          </div>
        </div>

        <div class="function-item">
          <div class="item-box">
            <p class="txtm">自動再出品</p>
            <p class="txts">
              バイサポでは、新着やおすすめに乗りやすくする為の<span class="bold"
                >自動再出品機能、値下げ機能</span
              >があります。メルカリでは、再出品、値下げをすることで、おすすめや、新着に乗ることができます。自分で設定した<span
                class="bold"
                >条件</span
              >の間自動で再出品
              値下げし続けるので、検索上位に商品が映り続けます。
            </p>
          </div>
          <img src="/20190213153638-01_top.png" alt="再出品å" />
        </div>

        <div class="function-item">
          <img
            src="/8903886_1563782408_066004700_0_1080_1979.jpg"
            alt="説明文"
          />

          <div class="item-box">
            <p class="txtm">自動商品説明</p>
            <p class="txts">
              自分が出品したい商品のカテゴリを入力し、商品情報だけを入力すれば、<span
                class="bold"
                >勝手に</span
              >商品説明文を作ってくれます。
              説明文は、売れている商品の文章を分析して作られた文章なので、お客様の目に止まること間違いなしです。
            </p>
          </div>
        </div>

        <div class="function-item">
          <div class="item-box">
            <p class="txtm">SOLD OUT</p>
            <p class="txts">
              これら3つの機能を使って売りましょう！！
              自動で効率よく、しかも売れるバイサポを利用しよう！！！
            </p>
          </div>
          <img src="./-e1518596821739.png" alt="再出品å" />
        </div>
      </div>
    </section>

    <div class="invite">
      <div class="invite-box">
        <h3 class="txtm">今すぐ登録！！</h3>
        <%= link_to("無料で体験","/signup",{class:"btn"}) %>
      </div>
    </div>
    <footer>
      <p class="txts">©バイサポ</p>
      <p class="txts">TEL 000ー0000ー0000</p>
    </footer>

    <script src="./main.js"></script>
  </body>
</html>


